@model ViewModels.PersonViewModel

@{
    ViewBag.Title = "My Profile";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>My Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("My Itineraries", "UserItineraries", "Itineraries", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">@string.Format("Following ({0})", Model.Following.Count)</button>
        </div>

    </div>
</div>



<p>
</p>
<p>
</p>
<div id="followindDiv">

</div>
<hr />
<div itemscope itemtype="http://schema.org/Person">

</div>

    <dl class="dl-horizontal">
        @{
            if (Model.FirstName != null)
            {
                <dt itemprop="givenName">
                    First Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            }
        }

        @{
            if (!string.IsNullOrEmpty(Model.LastName))
            {
                <dt itemprop="familyName">
                    Last Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            }
        }
        @{
            if (!string.IsNullOrEmpty(Model.NickName))
            {
                <dt itemprop="additionalName">
                    Nickname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>
            }
        }
        @{
            if (!string.IsNullOrEmpty(Model.Gender))
            {
                <dt itemprop="gender">
                    Gender
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            }
        }
        <dt>
            Age
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        @{
            if (!string.IsNullOrEmpty(Model.Email))
            {
                <dt itemprop="email">
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            }
        }

        @{
            if (!string.IsNullOrEmpty(Model.Location))
            {
                <dt itemprop="homeLocation">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
            }
        }

    </dl>
<div class="row" style="margin:0 auto;">
    <div class="col-md-12" style="background-color: #428bca; padding:10px; border-radius:6px;">
        <h4 style="text-align:center;color:white"><strong>Recomended for you</strong></h4>
        <div class="row" style="margin-top:20px; margin-left:50px;">
            <div itemscope itemtype="http://schema.org/TouristAttraction" class="col-md-3">
                <div itemprop="photo" class="image"></div>
                <div itemprop="name" class="title">Title1</div>
                <div itemprop="aggregateRating" class="rating"></div>
            </div>
            <div class="col-md-3">
                <div class="image"></div>
                <div class="title">Title2</div>
                <div class="rating"></div>
            </div>
            <div class="col-md-3">
                <div class="image"></div>
                <div class="title">Title3</div>
                <div class="rating"></div>
            </div>
            <div class="col-md-3">
                <div class="image"></div>
                <div class="title">Title4</div>
                <div class="rating"></div>
            </div>
        </div>
    </div>
</div>