@model ViewModels.PersonViewModel

@{
    ViewBag.Title = "My Profile";
}

<h2>My Profile</h2>

<div>
    <h4>Basic Info</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            if (Model.FirstName != null)
            {
                <dt>
                    First Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            }
        }

        @{
            if (!string.IsNullOrEmpty(Model.LastName))
            {
                <dt>
                    Last Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            }
        }
        @{
            if (!string.IsNullOrEmpty(Model.NickName))
            {
                <dt>
                    Nickname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>
            }
        }
        @{
            if (!string.IsNullOrEmpty(Model.Gender))
            {
                <dt>
                    Gender
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            }
        }
        <dt>
            Age
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        @{
            if (!string.IsNullOrEmpty(Model.Email))
            {
                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            }
        }

        @{
            if (!string.IsNullOrEmpty(Model.Location))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
