@model TRAS.Models.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Enter your @ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @*@Html.LabelFor(m => m.Query, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Query, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-default" value="Search" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            @*@Html.LabelFor(m => m.Hotels, new { @class = "col-md-2 control-label" })*@
            @Html.RadioButtonFor(m => m.isChecked, true) Hotels

            @*@Html.LabelFor(m => m.Flights, new { @class = "col-md-2 control-label" })*@
            @Html.RadioButtonFor(m => m.isChecked, false) Flights

            @*@Html.LabelFor(m => m.Restaurants, new { @class = "col-md-2 control-label" })*@
            @Html.RadioButtonFor(m => m.isChecked, false) Restaurants

        </div>
    </div>
}
