@model IEnumerable<ViewModels.ItineraryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Itineraries</h2>
<p>
    @Html.ActionLink("My Itineraries", "UserItineraries")
</p>
<div class="container">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Budget
                </th>
                <th>
                    Number of Days
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>*@
                <th>
                    Creator
                </th>
                <th>
                    Rating
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrOfDays)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>*@
                    <td>
                        @Html.ActionLink(item.Creator.Id, "Profile", "UserProfile", new { id = item.Creator.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                        @Html.ActionLink("Details", "ItineraryDetails", new { id = item.Id }) 
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



