@model ViewModels.ItineraryViewModel

@{
    ViewBag.Title = "Itinerary | Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Details</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Budget
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            Number of Days
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrOfDays)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>*@

        <dt>
            Creator
        </dt>

        <dd>
            @Html.ActionLink(Model.Creator.Id, "Profile", "UserProfile", new { id = Model.Creator.Id }, null)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
